/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@charset "utf-8";

$visual-grid: true;
$grid-columns:12;
$gutter: 1em;

@import "bourbon";
@import "bitters/bitters";   /* Bitters needs to be imported before Neat */
@import "neat";

section {
  @include outer-container;
  text-align: center;
  background-color: #d5eefb;

  aside, &.content {
    background-color: #aadbf5;
  }

  aside {
    @include span-columns(4);
  }

  .content {
    padding: 1em;
    @include span-columns(8);

    .worker {
      @include span-columns(4 of 8);
      // height: 84%;
      padding: 1em;
      margin-right: 0 !important;

      // background-color: white;
      opacity: 0.9;

      .circular {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        // background: url('golden_tabby_persian_kitten.jpg') no-repeat;
        }

      .circular img {
        opacity: 0;
        filter: alpha(opacity=0);
        float: left;
      }
    }
  }
}