/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$visual-grid: true;
$grid-columns:12;
$gutter: 1em;

@import "bourbon";
@import "neat";

section {
  @include outer-container;
  font-family: $lucida-grande;
  margin-bottom: 3em;
  background-color: #d5eefb;


  div {
    text-align: left;
    padding: 1em;
  }


  aside, .content {
    padding: 1em;
    background-color: #aadbf5;
    margin-bottom: 2em;
  }

  aside {
    @include span-columns(3);
    min-width: 15em;
  }

  .content {
    @include span-columns(9);
    @include omega();
    min-height: 20em;
  }
}