<section>
  <aside>
    <ul>
      <div>{{#link-to 'application'}}Home{{/link-to}}</div>
      <div>{{#link-to 'companies'}}Companies{{/link-to}}</div>
      <div>{{#link-to 'workers'}}Workers{{/link-to}}</div>
    </ul>
  </aside>

  <div class="content">
    {{outlet}}
  </div>
</section>
