<section>
  <aside>
    <ul>
      {{!-- <div>{{#link-to 'messages'}}Messages{{/link-to}}</div> --}}
      {{!-- <div>{{#link-to 'photos'}}Photos{{/link-to}}</div> --}}
    </ul>
  </aside>

  <div class="content">
    {{outlet}}
  </div>
</section>
