<h2>Workers</h2>
<article>
    {{#each worker in model}}
    	<div class="worker">
	      <div class="circular"><img src="assets/image/golden_tabby_persian_kitten.jpg" alt="" /></div>
	      <h4>{{worker.name}}</h4>
	      <p>{{worker.position}} at {{worker.companyTitle}}</p>
	     </div>
    {{/each}}
</article>